.opcoes {
    display: flex;

  }

.opcao {
    min-width: 120px;
    font-size: 17px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 5px;
    cursor: pointer;
}